{% extends "@SyliusAdmin/Form/theme.html.twig" %}

{% block sylius_product_option_value_widget %}
    <div class="ui segment">
        {{ form_row(form.code) }}
        <div class="five fields">
            {% for locale, translationForm in form.translations %}
            {{ form_row(translationForm.value, {'label': locale|sylius_locale_name}) }}
            {% if 0 == loop.index % 5 %}
        </div>
        <div class="five fields">
            {% endif %}
            {% endfor %}
        </div>
        {% if form.typeConfiguration is defined %}
            {{ form_widget(form.typeConfiguration) }}
        {% endif %}
    </div>
{% endblock %}
