<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service class="ToroShop\Bundle\CoreBundle\EventListener\AdminMenuListener" public="false">
            <argument type="service" id="security.authorization_checker"/>
            <tag name="kernel.event_listener" event="sylius.menu.admin.main" method="checkGrant" priority="-999"/>
        </service>

        <service class="ToroShop\Bundle\CoreBundle\EventListener\AdminUserRootDeleteListener" public="false">
            <argument type="service" id="security.authorization_checker"/>
            <tag name="kernel.event_listener" event="sylius.admin_user.pre_delete" method="canDelete"/>
        </service>
    </services>
</container>
